.about {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 11px 20px;

  @include tablet-only {
    grid-template-columns: 1fr;
  }

  @include mobile-only {
    grid-template-columns: 1fr;
  }
}
