$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
$breakpoint-gap: 0.1px;

@mixin mobile-only {
  @media (max-width: #{$breakpoint-tablet - $breakpoint-gap}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - $breakpoint-gap}) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin not-mobile {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin not-desktop {
  @media (max-width: #{$breakpoint-desktop - $breakpoint-gap}) {
    @content;
  }
}
